@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #F3F8FE;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 6.5rem;
  background-color: #F3F8FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

.app_container {
  margin: 25px;
  padding-bottom: 6.5rem;
}

h2 {
  font-size: 2rem;
  color: #565D94;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

h2 .season_year {
  font-weight: 300;
  font-size: 1.3rem;
  color: #000000;
  float: right;
}

.race_card {
  background-color: #FFFFFF;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 60px rgba(86, 93, 148, 0.16);
          box-shadow: 0px 0px 60px rgba(86, 93, 148, 0.16);
  margin: 2.5rem 0rem;
  color: #000000;
}

.race_card .race_round {
  width: 7.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #F2F6FE;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.race_card .race_info_block {
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.race_card .race_info_block .race_name {
  font-weight: bold;
  font-size: 1.8rem;
  padding-right: 1.5rem;
}

.race_card .race_info_block .race_location {
  font-size: 1.4rem;
  color: #6E6E6E;
  margin: 0.5rem 0rem;
}

.race_card .race_info_block .race_location img {
  margin-right: 0.5rem;
}

.race_card .race_info_block .race_datetime {
  font-size: 1.3rem;
  color: #6E6E6E;
}

.race_card .race_info_block .race_datetime img {
  margin-right: 0.2rem;
}

.race_card .race_info_block .race_datetime .race_card_clock_img {
  margin-left: 1rem;
}

.race_card .race_info_block .race_card_arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.standings {
  background-color: #FFFFFF;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 60px rgba(86, 93, 148, 0.16);
          box-shadow: 0px 0px 60px rgba(86, 93, 148, 0.16);
  padding: 1.5rem;
  margin: 2.5rem 0rem;
}

.standings .standing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.standings .standing:not(:first-child) {
  margin-top: 1.5rem;
}

.standings .standing_place_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: 5.8rem;
  background-color: #E5E8F9;
  border-radius: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.standings .standing_place_block .standing_place {
  width: 50%;
  height: 2.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standings .standing_place_block .standing_place .standing_place_number {
  margin-left: 0.2rem;
}

.standings .standing_place_block .standing_place_logo {
  width: 50%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.standings .standing_place_block .standing_place_logo img {
  max-width: 85%;
  max-height: 60%;
}

.standings .standing_name {
  font-size: 1.8rem;
  font-weight: normal;
  margin-left: 1rem;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
}

.standings .standing_points {
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.results_link_block {
  background-color: #FFFFFF;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 60px rgba(86, 93, 148, 0.16);
          box-shadow: 0px 0px 60px rgba(86, 93, 148, 0.16);
  margin: 2.5rem 0rem;
  color: #000000;
}

.results_link_block .results_link_icon {
  width: 7.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F6FE;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.results_link_block .results_link_icon img {
  height: 2rem;
  width: 2rem;
}

.results_link_block .results_link_main {
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results_link_block .results_link_main .results_link_name {
  font-weight: bold;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.arrow_back_icon {
  margin-right: 1rem;
  width: 0.85rem;
  height: 1.5rem;
}
/*# sourceMappingURL=style.css.map */